<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"></meta>
</head>

<body>
	<div th:fragment="articleDetail_contents">
		 <div class="row">
			<div class="col-sm-5">
				<div class="page-header">
					<h1>記事詳細</h1>
				</div>

				<form method="post" th:action="@{/articleDetail}" th:object="${articleForm}">
					<table class="table table-bordered table-hover">

						<tr>
							<th class="active col-sm-2">記事ID</th>
							<td class="col-sm-3">
								<div class="form-group">
									<input type="text" class="form-control" th:field="*{articleId}" readonly="readonly" />
								</div>
							</td>
						</tr>

						<tr>
							<th class="active">タイトル</th>
							<td class="col-sm-3">
								<div class="form-group" th:classappend="${#fields.hasErrors('title')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{title}" />
									<span class="text-danger" th:if="${#fields.hasErrors('title')}"
									th:errors="*{title}">title error</span>
								</div>
							</td>
						</tr>

						<tr>
							<th class="active">本文</th>
							<td>
								<div class="form-group" th:classappend="${#fields.hasErrors('memo')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{memo}" />
									<span class="text-danger" th:if="${#fields.hasErrors('memo')}"
									th:errors="*{memo}">memo error</span>
								</div>
							</td>
						</tr>

						<tr>
							<th class="active">カテゴリー</th>
							<td>
								<div class="form-group" th:classappend="${#fields.hasErrors('category')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{category}" />
									<span class="text-danger" th:if="${#fields.hasErrors('category')}"
									th:errors="*{category}">category error</span>
								</div>
							</td>
						</tr>

						<tr>
							<th class="active">投稿日時</th>
							<td>
								<div class="form-group" th:classappend="${#fields.hasErrors('postDate')} ? 'has-error'">
									<input type="text" class="form-control" th:field="*{postDate}" />
									<span class="text-danger" th:if="${#fields.hasErrors('postDate')}"
									th:errors="*{postDate}">postDate error</span>
								</div>
							</td>
						</tr>

					</table>

					<button class="btn btn-primary btn-lg pull-right" type="submit" name="update">更新</button>

					<button class="btn btn-danger btn-lg" type="submit" name="delete">削除</button>
				</form>
			</div>
		</div>

	</div>

</body>

</html>